body{
    height: 100%;
    background: rgb(179, 179, 179);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#icone{
    height: 50px;
    width: 50px;
}

nav{
    background-image: linear-gradient(to right, blue 60%, rgb(179, 179, 179));
    height: 50px;   
    border-radius: 10px;
}

ul{
    display: flex;
    list-style: none;
    align-items: center;
    padding: 6px;
}

a{
    text-decoration: none;
    color: black;
    padding: 4px;
    margin-left: 100px;
}

li:hover #links{
    color: blueviolet;
    border-bottom: 1px  solid;
}
#saudacao{
    margin-top: 80px;
    margin-left: 110px;
    margin-right: 150px;
    border: 1px solid black;
    width: auto;
    padding: 2px;
    border-radius: 10px;
    box-shadow: 5px 0px 10px rgb(0, 6, 58);
}

h1{
    margin-top: 80px;
    margin-left: 110px;
    margin-right: 150px;
    border: 1px solid black;
    width: 170px;
    padding: 2px;
    border-radius: 10px;
    box-shadow: 5px 0px 10px rgb(0, 6, 58);
    text-align: center;
}

h2{
    margin-top: 25px;
    margin-left: 110px;
    margin-right: 150px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-radius: 5px;
}

h3{
    font-size: 20px;
    margin-top: 50px;
    margin-left: 110px;
    margin-right: 150px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-radius: 5px;
}

#home{
    margin-top: 90px;
    height: 150px;
    font-size: 25px;
    margin-left: 110px;
    margin-right: 150px;
    background-color: rgb(206, 206, 206);
    padding: 5px;
    border-radius: 10px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}


.home:hover #links1{
    color: blueviolet;
    border-bottom: 1px  solid;
}

#imghome img{
    margin-left: 210px;
    display: flex;
    justify-content: space-between;
    height: 200px;
    width: 220px;
    border-radius:10px ;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}
#imghome:hover img{
    border-color:blueviolet;
    box-shadow: 5px 0px 10px rgb(0, 6, 58);
}



/*Página Esportes*/
#esportes{ /*parágrafo*/
    margin-top: 90px;
    height: 240px;
    font-size: 25px;
    margin-left: 110px;
    margin-right: 150px;
    background-color: rgb(206, 206, 206);
    padding: 5px;
    border-radius: 10px;
    border-bottom: 2px solid black;
    border-right: 2px solid black
}

.esportes img{ /*imagem esportes*/
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 170px;
    display: flex;
    justify-content: space-between;
    height: 200px;
    width: 260px;
    border-radius:10px ;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-color:blueviolet;
    box-shadow: 5px 0px 10px rgb(0, 6, 58);
}
.esporte:hover img{
    border-color:blueviolet;
    box-shadow: 5px 0px 10px rgb(0, 6, 58);
}




/*Página Viagens*/
#viagem{ /*parágrafo*/
    margin-top: 90px;
    height: 260px;
    font-size: 25px;
    margin-left: 110px;
    margin-right: 150px;
    background-color: rgb(206, 206, 206);
    padding: 5px;
    border-radius: 10px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

.viagem img{/*imagem viagens*/
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 170px;
    display: flex;
    justify-content: space-between;
    height: 200px;
    width: 260px;
    border-radius:10px ;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-color:blueviolet;
    box-shadow: 5px 0px 10px rgb(0, 6, 58);
}
#viagem:hover img{
    border-color:blueviolet;
    box-shadow: 5px 0px 10px rgb(0, 6, 58);
}



#carros{
    margin-top: 90px;
    height: 260px;
    font-size: 25px;
    margin-left: 110px;
    margin-right: 150px;
    background-color: rgb(206, 206, 206);
    padding: 5px;
    border-radius: 10px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

#agradecimento{
    margin-top: 90px;
    height: 30px;
    text-align: center;
    font-size: 25px;
    margin-left: 110px;
    margin-right: 150px;
    background-color: rgb(206, 206, 206);
    padding: 5px;
    border-radius: 10px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

button{
    text-align: center;
    width: 1242px;
    margin-bottom: 40px;
    height: 20px;
    font-size: 15px;
    margin-left: 110px;
    margin-right: 150px;
    background-color: rgb(206, 206, 206);
    border-radius: 10px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

footer{
    text-align: center;
    background-image: linear-gradient(to right, blue 60%, rgb(179, 179, 179));
    border-radius: 10px;
}